// normalize
support-for-ie  = false
@import "./lib/nib.styl"
@import "./mobile/box-sizing.styl"
@import "./lib/normalize.styl"

@import "./mobile/variables.styl"
@import "../bower_components/bootstrap-stylus/bootstrap/variables"
// @import "./lib/jquery.fullpage.styl"

// common
@import "./mobile/base.styl"
@import "./mobile/animate.styl"
//modal
// @import "./mobile/modal.styl"
//font-awesome
@import '../bower_components/Font-Awesome-Stylus/stylus/font-awesome.styl'
@import "./lib/pure-grid.styl"
@import "./lib/pure-grid-units.styl"

//page
@import "./mobile/landing.duanwu.styl"

//novice
@import "./mobile/landing.novice.styl"