extend base

block title
  | #{aboutTitle} -

block subnav
  include ./mod/sub.nav.pug

block content
  .about-audit
    .section.about-audit-container
      .about-audit-header
        h3.about-audit-title 审计报告
      .about-audit-body
        .about-audit-list.pure-g
          .pure-u-1-3
            .about-audit-item.about-audit-annual
              .about-audit-item-header 年度审计报告
              .about-audit-item-footer 审计完成后披露
          .pure-u-1-3
            .about-audit-item.about-audit-key-party
              .about-audit-item-header 重点环节审计结果
              .about-audit-item-footer 审计完成后披露
          .pure-u-1-3
            .about-audit-item.about-audit-legal
              .about-audit-item-header 合规性审查报告
              .about-audit-item-footer 审计完成后披露
